runtime: nodejs18

env_variables:
  NODE_ENV: "development" | "production"
  PORT: 8080
  SHOW_SWAGGER: "true"
  # Only for testing, should be 'false' on production
  RUN_FAKE_TASK: "false"
  MONGO_DB_CONNECTION: "mongodb+srv://<username>:<password>@<host>/"
  MONGO_DATABASE: "db_name"
  JWT_SECRET: "strong_secret"
  OPENAI_API_KEY: ""
  OPENAI_ORGANISATION_ID: ""

manual_scaling:
  instances: 1

#resources:
#  cpu: 1
#  memory_gb: 0.5
#  disk_size_gb: 10
